<h2 class="project-list-title">Projetos Criados:</h2>
<div class="project-list-container">
  <mat-card
    *ngFor="let project of projects"
    class="project-list-item"
    appearance="outlined"
  >
    <mat-card-header class="mat-card-header-align-center">
      <mat-card-title-group>
        <mat-card-title> {{ project.id }} - {{ project.name }}</mat-card-title>
        <div class="project-list-item__actions">
          <button [routerLink]="['/project', project.id]" mat-fab color="accent">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="handleRemoveProjectClick(project.id)" mat-fab>
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <br />
      <p class="project-list-item__hintMessage">
        {{
          project.description
            ? project.description
            : "Ainda não há descrição deste projeto"
        }}
      </p>
      <p class="project-list-item__hintMessage"></p>
      <label *ngIf="project.tasks.length > 0" for="taskLists">Tarefas:</label>
      <ul *ngIf="project.tasks.length > 0" id="taskLists">
        <li *ngFor="let task of project.tasks">{{ task.title }}</li>
      </ul>
      <p *ngIf="!project.tasks">
        Não há tarefas atribuídas a este projeto, abra-o para criar a primeira!
      </p>
    </mat-card-content>
    <mat-card-footer class="project-list-item__footer">
      <div class="project-list-item__createdAt">
        <p>Data de criação</p>
        <i>{{ project.createdAt }}</i>
      </div>
      <mat-chip-set aria-label="Project details">
        <app-project-status-chip
          [status]="project.status"
          [completedAt]="project.completedAt"
        ></app-project-status-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>

  <p *ngIf="projects.length == 0">
    Ainda não há projetos, comece adicionando um :)
  </p>
</div>
