.header {
  display: flex;
  justify-content: space-between;
}
.header-logo-mobile {
  display: none;
}
@media (max-width: 425px) {
  .header-logo-desktop {
    display: none;
  }
  .header-logo-mobile {
    display: block;
  }
}
