<mat-toolbar
  *ngIf="!(isProjectPage && isMobile)"
  color="primary"
  class="mat-elevation-z8 header"
>
  <button mat-stroked-button *ngIf="isProjectPage" [routerLink]="['/']">
    <mat-icon>arrow_back</mat-icon>
    Voltar
  </button>
  <span *ngIf="!isProjectPage" class="header-logo-desktop"
    >Angular Agile Projects</span
  >
  <span class="header-logo-mobile">AAP</span>

  <span class="spacer"></span>

  <button *ngIf="isHome" mat-stroked-button (click)="openAddProjectDialog()">
    Adicionar Projeto
  </button>

  <button
    *ngIf="isProjectPage"
    mat-stroked-button
    (click)="openAddTaskDialog()"
  >
    Adicionar Tarefa
  </button>
</mat-toolbar>

<router-outlet />
