<div class="project-detail" [class.project-detail--is-mobile]="isMobile">
  <mat-toolbar class="project-detail__toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container
    class="project-detail__sidenav-container"
    [style.marginTop.px]="isMobile ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="isMobile ? 'over' : 'side'"
      [fixedInViewport]="isMobile"
      fixedTopGap="56"
      [opened]="!isMobile"
      class="project-detail__sidenav"
    >
      <h2>Informações do projeto:</h2>
      <mat-divider></mat-divider>

      <mat-list *ngIf="selectedProject">
        <mat-list-item class="project-detail__sidenav-description">
          <span matListItemTitle>Nome: {{ selectedProject.name }}</span>
          <span
            *ngIf="selectedProject.description"
            class="project-detail__sidenav-description-text"
          >
            {{ selectedProject.description }}
          </span>
        </mat-list-item>

        <mat-list-item>
          <app-project-status-chip
            [status]="selectedProject.status"
            [completedAt]="selectedProject.completedAt"
          ></app-project-status-chip>
        </mat-list-item>

        <mat-list-item>
          <span matListItemTitle
            >Data de criação: {{ selectedProject.createdAt }}</span
          >
        </mat-list-item>

        <mat-list-item *ngIf="selectedProject.completedAt">
          <span matListItemTitle
            >Data de conclusão: {{ selectedProject.completedAt }}</span
          >
        </mat-list-item>
      </mat-list>

      <button mat-button>Editar projeto</button>
    </mat-sidenav>

    <mat-sidenav-content>
      <ul *ngFor="let item of selectedProject?.tasks">
        <li>
          {{ item.description }}
        </li>
        <li *ngFor="let item of selectedProject?.tasks">{{ item.id }}</li>
        <li *ngFor="let item of selectedProject?.tasks">{{ item.priority }}</li>
        <li *ngFor="let item of selectedProject?.tasks">{{ item.status }}</li>
        <li *ngFor="let item of selectedProject?.tasks">{{ item.title }}</li>
      </ul>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
