<mat-dialog-content class="mat-typography">
  <h2 mat-dialog-title>Adicionar Projeto</h2>
  <form [formGroup]="myform" (ngSubmit)="saveProject()" class="dialog-form">
    <mat-form-field>
      <mat-label>Nome do Projeto</mat-label>
      <input matInput formControlName="name" required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="description" rows="3"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="Em andamento">Em andamento</mat-option>
        <mat-option value="Concluído">Concluído</mat-option>
        <mat-option value="Cancelado">Cancelado</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data de Criação</mat-label>
      <input matInput formControlName="createdAt" type="date" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data de Conclusão</mat-label>
      <input matInput formControlName="completedAt" type="date" />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="start">
  <button mat-raised-button type="submit" color="primary">Salvar</button>
  <button mat-raised-button color="warn" (click)="closeDialog()">Fechar</button>
</mat-dialog-actions>
